<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939201737350-ng2pubhl68uc9ia12t54tqp3f31830i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939201737350-ng2pubhl68uc9ia12t54tqp3f31830i4</string>
	<key>API_KEY</key>
	<string>AIzaSyA52efcFBZ1_vE-4U7dek40Pg66Xy0-L4k</string>
	<key>GCM_SENDER_ID</key>
	<string>939201737350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MeboRn</string>
	<key>PROJECT_ID</key>
	<string>meborn-217c5</string>
	<key>STORAGE_BUCKET</key>
	<string>meborn-217c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939201737350:ios:152d0b820a5697d8791707</string>
</dict>
</plist>